.new-note-card {
  margin-top: 50px;
  padding: 20px;
  padding-bottom: 0px;
}
.new-note-card-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700 !important;
}
.new-note-card-content {
  padding-left: 0px !important;
}
.new-note-description {
  font-size: 15px;
  margin-top: 4px;
  margin-bottom: 0px;
  font-weight: 400;
}
.new-note-description-bold {
  font-weight: 600;
}
